body {
    margin: 10px;
}

/* navigation section styles */

.navbar {
    margin: 35px 70px;
    display: flex;
    justify-content: space-between;
}
.agency-related{
    display: flex;
   align-items: center;
    
    
}
.navbar img {
    width: 50px;
    height: 30px;
    margin-right: 0;
}
.nav-items{
   display: flex;
   align-items: center;
}

.nav-items a {
    text-decoration: none;
    margin-right: 40px;
}
.agency-related .agency-name {
    color: #131318;
font-family: Mulish;
font-size: 26px;
font-weight: 800;
}
.agency-related .agency-name>.special-color {
    color: #FF5400;
font-family: Mulish;
font-size: 26px;
font-weight: 800;
}

.nav-items a{
    color: #424247;
text-align: center;
font-family: Mulish;
font-size: 15px;
font-weight: 400;
}
#home{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 15px;
font-weight: 700;
}

/* header section styles */

.header-sec-one {
   height: 500px;
   margin: 35px 70px;
   background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
   background-repeat: none;
   background-size: cover;
   border-radius: 15px;
   text-align: center;
}
.header-section-title{
    color: #FFF;
font-family: Mulish;
font-size: 50px;
font-weight: 800;
padding-top: 100px;
margin-bottom: 0;
}
.header-sec-description {
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 12px;
font-weight: 400;
margin-top: 40px;
margin-bottom: 0;
}
.selection-dashboard {
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
max-width: 550px;
height: 60px;
margin: 0 auto;
margin-top: 40px;
}
input[type="text"] {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 12px;
font-weight: 400;
text-align: center;
padding-right: 18px;
}
#select {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 12px;
font-weight: 400;
text-align: center;
padding-right: 18px;
}
#select-two {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 12px;
font-weight: 400;
text-align: center;
padding-right: 18px;
}
.selection-button{
    margin-top: 15px;
    width: 120px;
    height: 30px;
    background: #FF5400;
    border-radius: 8px;
    border: none;
    color: #fff;
font-family: Mulish;
font-size: 12px;
font-weight: 400;
text-align: center;
padding-right: 18px;
}

/* main first section styles */

.first-section {
    margin: 35px 70px;
    display: flex;
    justify-content: space-between;
}

.f-col-one-title{
    color: #131318;
font-family: Mulish;
font-size: 30px;
font-weight: 800;
}



.f-col-one-description {
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 22px;
}

.read-more {
    width: 120px;
height: 35px;
border-radius: 8px;
background: #FF5400;
border: 0;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 12px;
font-weight: 800;
}

.f-col-two img{
    height: 70%;
    width: 100%;
}

/* main second section styles */

/* first row */
.sec-section-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 30px;
font-weight: 800;
margin-bottom: 0px;
}
.sec-section-description{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 12px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 0;
}
.sec-section-description-{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 12px;
font-weight: 400;
margin-top: 5px;
margin-bottom: 0;
}
.sec-section {
    margin: 15px 70px;
}

.first-row{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.f-box, .sec-box {
    border: 1px solid red;
    border: 0;
    border-radius: 10px;
    width: 550px;
    height: 300px;
}
.f-box {
    background: url('../Images/Rectangle\ 5.png');
}
.sec-box {
    background: url('../Images/Rectangle\ 8.png');
}

.f-box-title, .sec-box-title {
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
margin-top: 130px;
}

/* second row */

.sec-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.first-box {
    width: 350px;
    height: 250px;
    border: 1px solid tomato;
    border: none;
    border-radius: 15px ;
    background: url('../Images/Rectangle\ 6.png');
}

.second-box {
    width: 450px;
    height: 250px;
    border: 1px solid tomato;
    border: none;
    border-radius: 15px ;
    background: url('../Images/Rectangle\ 7.png');
}

.third-box {
    width: 250px;
    height: 250px;
    border: 1px solid tomato;
    border: none;
    border-radius: 15px ;
    background: url('../Images/Rectangle\ 9.png');
}

/* third row styles */
.thrd-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.fst-box {
    width: 450px;
    height: 300px;
    border: 1px solid tomato;
    border: none;
    border-radius: 15px;
    background: url('../Images/Rectangle\ 11.png');
}

.secnd-box {
    width: 650px;
height: 300px;
border: 1px solid tomato;
border: none;
border-radius: 15px;
background: url('../Images/Rectangle\ 10.png');
}

/* third section styles */
/* first row */
.third-section {
    margin: 35px 70px;
}

.t-f-row {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.fa-box {
    width: 550px;
height: 250px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}

.sa-box {
    width: 550px;
height: 250px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}

.fa-box img , .sa-box img, .t-s-row img {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0;
}

.box-title{
    color: #131318;
font-family: Mulish;
font-size: 18px;
font-weight: 800;
margin-top: 5px;
margin-left: 20px;
margin-bottom: 0;
}
.box-description{
    color: #5A5A5D;
font-family: Mulish;
font-size: 13px;
font-weight: 400;
line-height: 18px;
margin-top: 5px;
margin-left: 20px;
margin-bottom: 0;
}
.t-s-row {
    width: 550px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 15px;
    margin-left: 300px;
}

/* section four styles */

.col-one-four {
    width: 320px;
    height: 280px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.four-title{
    color: #131318;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
margin-top: 15px;
margin-bottom: 0;
margin-left: 20px;
}
.four-description {
    color: #5A5A5D;
font-family: Mulish;
font-size: 12px;
font-weight: 400;
line-height: 23px;
margin-top: 5px;
margin-bottom: 0;
margin-left: 20px;
}
.hori-one {
    height: 2px;
    width: 256px;
    background: rgba(19, 19, 24, 0.10);
}
.input{
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    margin-bottom: 0;
}

.input input[type="text"]
{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 256px;

}

.subscribe {
    border-radius: 8px;
background: #FF5400;
width: 256px;
height: 35px;
margin-left: 22px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 15px;
font-weight: 800;
border: none;
margin-top: 10px;
}

.section-four {
    margin: 35px 70px;
    display: flex;
    justify-content: space-around;
}

.lit-box {
    width: 280px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
text-align: center;
margin-top: -180px;
margin-left: 160px;
}
.lit-box-tit{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 400;
margin-bottom: 0;
}

.lit-box-des {
    color: #FFF;
font-family: Mulish;
font-size: 26px;
font-weight: 800;
margin-top: 5px;
}

.lit-box p{
    padding-top: 20px;
}
/* footer section styles */

.agency-related-footer{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 0;
}

.agency-related-footer img{
    width: 50px;
    height: 30px;
    margin: 0;
}
.footer-description {
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 12px;
font-weight: 400;
margin-top: 5px;
margin-bottom: 0;
}

.social {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
}

.hori-two {
    width: 600px;
height: 1px;
margin-top: 30px;
background: rgba(19, 19, 24, 0.10);
margin-bottom: 0;
}

.fact {
    margin-top: 30px;
    padding-bottom: 30px;
}

footer {
    background: rgba(19, 19, 24, 0.05);


}

.bonus {
    margin: 35px 70px;
    margin-left: 470px;
    height: 400px;
    width: 400px;
    border: 1px solid saddlebrown;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.form-title {
    color: #0404f1;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
#submit{
    width: 100px;
    height: 30px;
    background-color: #0404f1;
    border-radius: 8px;
    color: #FFF;
    margin-top: 100px;

}
#name, #email, #number{
    height: 40px;
    width: 70%;
    background-color: #0404f1;
    border-radius: 10px;
   color: #fff;
}
#radio{
    color: #FFF;
    font-size: 20px;
}

/* display none temporary */

.navbar, footer {
    display: none;
}


/* mobile responsive */

@media screen and (max-width: 600px) {
    body {
        margin: 3px;
    }

    /* header section responsive */
    .header-section-title{
        padding-top: 30px;
    }
    .dashboard-items {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }
    .selection-dashboard{
        border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
max-width: 270px;
height: 200px;
margin: 0 auto;
margin-top: 40px;
    }
    .header-sec-one{
        margin: 10px 10px;
    
    }

    input[type="text"] {
        margin-top: 15px;
        width: 180px;
        height: 30px;
        border-radius: 8px;
        border: none;
        color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-right: 18px;
    }
    #select {
        margin-top: 15px;
        width: 200px;
        height: 30px;
        border-radius: 8px;
        border: none;
        color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-right: 18px;
    }
    #select-two {
        margin-top: 15px;
        width: 200px;
        height: 30px;
        border-radius: 8px;
        border: none;
        color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-right: 18px;
    }
    .selection-button{
        margin-top: 15px;
        width: 200px;
        height: 30px;
        background: #FF5400;
        border-radius: 8px;
        border: none;
        color: #fff;
    font-family: Mulish;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-right: 18px;
    }

    /* main - first section responsive */

    .first-section {
        margin: 10px 10px;
        flex-direction: column;
    }
    .f-col-two {
        margin-top: 15px;
    }

    /* main-sec section responsive */

    .sec-section {
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
    }

    .sec-section > .first-row , .sec-row, .thrd-row {
        flex-direction: column;

    }
    .f-box, .sec-box {
        border: 1px solid red;
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    

    .first-box {
        width: 100%;
        height: 100%;
        border: 1px solid tomato;
        border: none;
        border-radius: 15px ;
        background: url('../Images/Rectangle\ 6.png');
        background-repeat: no-repeat;
    }

    .second-box {
        width: 100%;
        height: 100%;
        border: 1px solid tomato;
        border: none;
        border-radius: 15px ;
        background: url('../Images/Rectangle\ 7.png');
    }
    
    .third-box {
        width: 100%;
        height: 100%;
        border: 1px solid tomato;
        border: none;
        border-radius: 15px ;
        background: url('../Images/Rectangle\ 9.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .fst-box {
        width: 100%;
        height: 100%;
        border: 1px solid tomato;
        border: none;
        border-radius: 15px;
        background: url('../Images/Rectangle\ 11.png');
    }
    
    .secnd-box {
        width: 100%;
    height: 100%;
    border: 1px solid tomato;
    border: none;
    border-radius: 15px;
    background: url('../Images/Rectangle\ 10.png');
    }

        .f-box-title {
            padding-bottom: 60px;
        }
        .sec-box-title{
            padding-bottom: 70px;
        }

        /* main- third section done */

        .third-section {
            margin: 10px 10px;
            display: flex;
            flex-direction: column;
        }

        .t-f-row {
            display: flex;
            flex-direction: column;
        }

        .fa-box , .sa-box {
            height: 100%;
            width: 100%;
            margin-top: 10px;
        }

        .t-s-row {
            height: 100%;
            width: 100%;
            margin-left: 0px;
        }

        /* main- four section responsive  */

        .section-four {
            margin: 10px 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .col-one-four{
            height: 100%;
            width: 100%;
        }

        .col-two-four {
            height: 100%;
            width: 100%;
        }

        .lit-box {
            margin-left: 70px;
        }
        input[type="text"] {
            margin-left: 30px;
            height: 50px;
        }

        .subscribe {
            margin-top: 20px;
            margin-left: 60px;
            margin-bottom: 20px;
            height: 50px;
        }

        /* main- bonus section responsive */

        .bonus {
            margin-left: 0px;
            margin-top: 70px;
            height: 100%;
            width: 100%;
        }

        #submit {
            height: 50px;
            width: 150px;
            margin-bottom: 25px;
        }
}

